In [42]:
import pandas as pd

In [43]:
customerData = pd.read_csv("../../01.Python_Git/dataset/kopo_customerdata.csv")

# 데이터를 원하는 칼럼으로 추출

In [44]:
customerData[["CUSTOMERCODE","ST","STATENAME","GENDER","TOTAL_AMOUNT"]].head()

   CUSTOMERCODE  ST STATENAME  GENDER  TOTAL_AMOUNT
0       1503989   2    State2    Male         30300
1       1190338   2    State2    Male         46500
2       1424715   2    State2  Female         22700
3       2483305   2    State2    Male         31400
4       1178802   2    State2    Male         44900

# loc[n:n2,:] = 해당 데이터의 n행부터 n2행까지 출력

In [45]:
dfc1 = customerData.loc[0:2,:]
dfc1

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0

# iloc[n:n2,[n3,n4]] = 해당 데이터의 행은 n부터 n2행까지 열은 n3부터 n4까지

In [46]:
dfc2 = customerData.iloc[0:5,[1,3]]
dfc2

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

In [47]:
customerDataColumns = customerData.columns
customerDataColumns

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

# 'get_loc' = 해당 칼럼의 인덱스번호를 가지게 함

In [48]:
csCodeNolNo = customerData.columns.get_loc("CUSTOMERCODE")
stColNo = customerData.columns.get_loc("ST")

In [49]:
csCodeNolNo

0

In [50]:
stColNo

2

In [51]:
customerData2 = pd.read_csv("../../01.Python_Git/dataset/customerdata.csv")

In [52]:
customerData2

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605   3713.211107    2          6.6    0.900000        Early-bird
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
5    B16849   3755.263391    2          4.7    2.786665      Sleeping-dog
6    B18816   3213.911446    2          6.4    0.900000        Early-bird
7    C10639   3516.500000    2          5.2    2.564830  Big-Screen-lover
8    C12717   3732.900000    2          5.7    2.069995  Big-Screen-lover
9    C15050   4020.173425    2          4.9    3.013440      Sleeping-dog
10   C18306   4005.005142    2          4.7    3.113618      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
12   C19178   3624.700000    2          5.6    2.137246  Big-Screen-lover
13   D11795   2991.014703    2          6.4    0.800000        Early-bird
14   D13030   3227.855655    2          4.8    3.467370      Sleeping-dog
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
16   D17241   4166.533130    2          4.7    2.577757      Sleeping-dog
17   D17880   3383.145853    2          4.5    2.903990      Sleeping-dog
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
19   E11917   3516.500000    2          5.5    2.087540  Big-Screen-lover
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
21   E16221   3408.300000    2          5.0    1.988682  Big-Screen-lover
22   E18145   3408.300000    2          4.9    1.521029  Big-Screen-lover
23   E19404   3764.940414    2          6.5    0.900000        Early-bird
24   F10222   3191.065822    2          6.5    0.900000        Early-bird
25   F12979   4165.700000    2          6.1    2.128362  Big-Screen-lover
26   F14866   3137.800000    2          5.1    1.725892  Big-Screen-lover
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
28   F18646   3334.244233    2          4.5    3.273196      Sleeping-dog
29   F19938   3732.900000    2          5.4    2.011303  Big-Screen-lover
..      ...           ...  ...          ...         ...               ...
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
123  V10654   3902.329790    2          4.6    3.260149      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
127  V19072   3462.400000    2          5.3    1.922932  Big-Screen-lover
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
129  W13032   4003.400000    2          6.1    2.519623  Big-Screen-lover
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
131  W13995   2411.008838    2          6.4    1.000000        Early-bird
132  W16193   3402.729703    2          6.4    0.900000        Early-bird
133  W18228   3480.455474    2          6.4    0.900000        Early-bird
134  X10158   3949.300000    2          6.3    1.815666  Big-Screen-lover
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
137  X19598   3516.500000    2          5.1    2.646259  Big-Screen-lover
138  X19768   3486.085831    2          4.6    2.835355      Sleeping-dog
139  Y10906   3408.300000    2          6.0    2.131432  Big-Screen-lover
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
141  Y13678   3408.300000    2          5.6    2.084005  Big-Screen-lover
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
144  Z12772   3029.600000    2          4.9    2.093035  Big-Screen-lover
145  Z13253   3678.800000    2          5.9    2.463670  Big-Screen-lover
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
147  Z16428   3516.500000    2          5.8    2.371301  Big-Screen-lover
148  Z16735   3300.100000    2          5.6    1.704942  Big-Screen-lover
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird

[150 rows x 6 columns]

# 데이터에 열을 추가하고 추가하는 열의 내용을 기존 열에서 추출하여 가져오기

In [53]:
import numpy as np
customerData2["PRODUCTAGE_NEW"] = np.where(customerData2["PRODUCTAGE"]<1, 1,\
                                           np.where(customerData2["PRODUCTAGE"]<2,2, \
                                                    np.where(customerData2["PRODUCTAGE"]<3,3,\
                                                             5)))

In [54]:
customerData2.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

# 함수를 이용하여 추가 내용 정의

In [55]:
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    else:
        return 5

In [56]:
customerData2["PRODUCTAGE_NEW2"] = customerData2.apply(refining, axis = 1)

In [57]:
customerData2.head(30)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5
19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5
26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5

# sort를 사용하여 내용 정렬하기

In [87]:
sortkey = ["CUSTID"]

In [89]:
customerData2.sort_values(sortkey, inplace = True)

In [90]:
customerData2

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5
19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5
26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5
...,...,...,...,...,...,...,...,...
120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,5
121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,5
122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,5
123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,5
125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2
128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,5
129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,5
130,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2
131,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1
133,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1
134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2
135,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2
136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,5
137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,5
138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5
139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,5
140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,5
141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,5
142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,5
145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,5
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,5
148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

# 그룹핑을 하여 데이터 묶어보기 (주의! 그룹핑 후에는 항상 리셋을 해주어야 한다)

In [238]:
groupData = customerData2.groupby("EMI").max()
groupData

,CUSTID,AVERAGEPRICE,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
EMI,,,,,,,
1,Y12458,3419.462596,6.3,2.994395,Sleeping-dog,3,5
2,Z19835,4166.533130,6.9,3.483573,Sleeping-dog,5,5
3,Z13534,4296.873743,6.9,2.055707,Early-bird,3,5

In [232]:
groupData = groupData.reset_index()
groupData

,index,CUSTTYPE,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,0,Big-Screen-lover,Z16735,4273.900000,3,6.9,3.367229,5,5
1,1,Early-bird,Z19835,4296.873743,3,6.9,1.300000,2,2
2,2,Sleeping-dog,Y12458,4166.533130,2,5.1,3.483573,5,5

# 데이터의 컬럼을 추출하여 정렬 한 뒤 해당 컬럼의 평균과 표준편차 구하기

In [103]:
customerData3 = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
customerData3.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [125]:
sortkey2 = ["REGIONID","PRODUCT"]
customerData3.sort_values(sortkey2, inplace = True)

In [141]:
groupData2 = customerData3.groupby(["REGIONID","PRODUCT"]).agg(["mean","std"])["QTY"]
groupData2 = groupData2.reset_index()

In [142]:
customerData4 = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
customerData4.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [155]:
sortkey3 = ["REGIONID","PRODUCT","YEARWEEK"]
sortedData3 = customerData4.sort_values(sortkey3, inplace = False)

In [153]:
sortedData3.head()

     REGIONID    PRODUCT  YEARWEEK    QTY
298       A00  PRODUCT34    201401  661.0
1757      A00  PRODUCT34    201402  679.0
3125      A00  PRODUCT34    201403  578.0
205       A00  PRODUCT34    201404  532.0
4369      A00  PRODUCT34    201405  516.0

In [157]:
sortedData3["QTY_NEW"] = np.where(sortedData3["QTY"]<0,0,sortedData3["QTY"])

In [163]:
sortedData3["YEARWEEK"] = sortedData3.YEARWEEK.astype("str")

sortedData3["YEAR"] = sortedData3.YEARWEEK.str[0:4]
sortedData3["WEEK"] = sortedData3.YEARWEEK.str[4:]

In [164]:
sortedData3.head()

     REGIONID    PRODUCT YEARWEEK    QTY  QTY_NEW  YEAR WEEK
298       A00  PRODUCT34   201401  661.0    661.0  2014   01
1757      A00  PRODUCT34   201402  679.0    679.0  2014   02
3125      A00  PRODUCT34   201403  578.0    578.0  2014   03
205       A00  PRODUCT34   201404  532.0    532.0  2014   04
4369      A00  PRODUCT34   201405  516.0    516.0  2014   05

In [166]:
groupData3 = sortedData3.groupby(["REGIONID","PRODUCT","YEAR"]).agg(["mean","std"])["QTY_NEW"]
groupData3.head()

                               mean         std
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014  275.961538  162.179634
                   2015   85.698113   72.858024
                   2016   36.576923   94.897539
         PRODUCT58 2014    2.673077    3.889257
                   2015    7.547170   14.909427

In [169]:
groupData3 = groupData3.reset_index()

In [182]:
groupData3.columns = ["REGIONID", "PRODUCT", "YEAR", "QTY_MEAN", "QTY_STD"]

In [211]:
groupData3.head()

  REGIONID    PRODUCT  YEAR    QTY_MEAN     QTY_STD
0      A00  PRODUCT34  2014  275.961538  162.179634
1      A00  PRODUCT34  2015   85.698113   72.858024
2      A00  PRODUCT34  2016   36.576923   94.897539
3      A00  PRODUCT58  2014    2.673077    3.889257
4      A00  PRODUCT58  2015    7.547170   14.909427

In [189]:
customerData5 = pd.read_csv("../../01.Python_Git/dataset/customerdata.csv")
customerData5["TEST"] = customerData5["PRODUCTAGE"].rolling(window = 4, center = False).mean()
customerData5

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,NaN
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,NaN
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,NaN
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.117351
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.310970
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,2.337131
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1.760080
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.176288
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.080373
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.137066
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,2.690471
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2.522169
12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,2.538982
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1.985622
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,2.074060
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.328908
16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.439036
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,2.965033
18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,2.628755
19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.422886
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.471314
21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2.242487
22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2.092180
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.795295
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.327428
25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,1.362348
26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.413564
27,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.463564
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,2.056863
29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,2.027598
...,...,...,...,...,...,...,...
120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,2.276759
121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,2.663851
122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,2.387150
123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,2.625169
124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,2.576270
125,V16704,2605.631083,2,6.6,0.900000,Early-bird,2.189178
126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1.867743
127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,1.533439
128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,1.464976
129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,1.869881
130,W13404,4296.873743,3,6.5,1.100000,Early-bird,1.919881
131,W13995,2411.008838,2,6.4,1.000000,Early-bird,1.689148
132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1.379906
133,W18228,3480.455474,2,6.4,0.900000,Early-bird,0.975000
134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,1.153916
135,X13390,2947.543982,3,6.3,1.100000,Early-bird,1.178916
136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,1.585932
137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,2.022497
138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,2.277419
139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,2.535277
140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,2.453181
141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,2.312617
142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1.828779
143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1.520920
144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,1.494260
145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,1.589176
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1.589176
147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,1.957001
148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,1.859978
149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,1.544061

In [199]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [200]:
import numpy as np                   # 바꿀값    바꾼값    아니라면 놔둘 값
selloutData["QTY_NEW"] = np.where(selloutData["QTY"]<0,0,selloutData["QTY"])

In [201]:
# 0보다 작은 값의 QTY를 조회하여 확인하기
selloutData[selloutData["QTY"]<0].head()

     REGIONID    PRODUCT  YEARWEEK   QTY  QTY_NEW
65        A02  PRODUCT16    201403  -1.0      0.0
338       A08  PRODUCT36    201402  -1.0      0.0
1270      A14  PRODUCT36    201405  -1.0      0.0
1616      A17  PRODUCT60    201402  -1.0      0.0
2035      A39   PRODUCT7    201404 -12.0      0.0

In [202]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype("str")

selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:]
selloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0      0.0  2014   02
4      A60  PRODUCT56   201402     23.0     23.0  2014   02

In [203]:
refinedSelloutData = selloutData[selloutData.WEEK.astype(int) <= 52]

In [204]:
refinedSelloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0      0.0  2014   02
4      A60  PRODUCT56   201402     23.0     23.0  2014   02

In [191]:
regionMasterData = pd.read_csv("../dataset/kopo_region_mst.csv")
regionMasterData.head()

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA
2      A02      KOREA
3      A03     GERMAN
4      A04     BRAZIL

In [192]:
selectExample = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selectExample.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [197]:
mergeResult = pd.merge(selectExample,regionMasterData, left_on="REGIONID", right_on = "REGIONID")\
[["REGIONID","REGIONNAME","PRODUCT","YEARWEEK","QTY"]]

mergeResult.head()

  REGIONID REGIONNAME    PRODUCT  YEARWEEK      QTY
0      A60       THAI   PRODUCT4    201402     71.0
1      A60       THAI  PRODUCT59    201402  22275.0
2      A60       THAI  PRODUCT34    201402   4463.0
3      A60       THAI  PRODUCT47    201402      0.0
4      A60       THAI  PRODUCT56    201402     23.0

In [222]:
mergeKey = ["REGIONID","PRODUCT","YEAR"]
mergedData = pd.merge(refinedSelloutData,groupData3, left_on=mergeKey, right_on = mergeKey, how = "inner")\
[["REGIONID", "PRODUCT", "YEARWEEK","QTY_NEW","YEAR","WEEK","QTY_MEAN","QTY_STD"]]
mergedData

       REGIONID    PRODUCT YEARWEEK  QTY_NEW  YEAR WEEK   QTY_MEAN    QTY_STD
0           A60   PRODUCT4   201402     71.0  2014   02  29.134615  13.225093
1           A60   PRODUCT4   201401     16.0  2014   01  29.134615  13.225093
2           A60   PRODUCT4   201403     51.0  2014   03  29.134615  13.225093
3           A60   PRODUCT4   201406     19.0  2014   06  29.134615  13.225093
4           A60   PRODUCT4   201404     21.0  2014   04  29.134615  13.225093
5           A60   PRODUCT4   201405     18.0  2014   05  29.134615  13.225093
6           A60   PRODUCT4   201407     19.0  2014   07  29.134615  13.225093
7           A60   PRODUCT4   201409     18.0  2014   09  29.134615  13.225093
8           A60   PRODUCT4   201408     16.0  2014   08  29.134615  13.225093
9           A60   PRODUCT4   201411      5.0  2014   11  29.134615  13.225093
10          A60   PRODUCT4   201410     12.0  2014   10  29.134615  13.225093
11          A60   PRODUCT4   201412     16.0  2014   12  29.134615  13.225093
12          A60   PRODUCT4   201413      9.0  2014   13  29.134615  13.225093
13          A60   PRODUCT4   201414      9.0  2014   14  29.134615  13.225093
14          A60   PRODUCT4   201415     40.0  2014   15  29.134615  13.225093
15          A60   PRODUCT4   201417     21.0  2014   17  29.134615  13.225093
16          A60   PRODUCT4   201416     25.0  2014   16  29.134615  13.225093
17          A60   PRODUCT4   201418     20.0  2014   18  29.134615  13.225093
18          A60   PRODUCT4   201420     37.0  2014   20  29.134615  13.225093
19          A60   PRODUCT4   201419     31.0  2014   19  29.134615  13.225093
20          A60   PRODUCT4   201421     49.0  2014   21  29.134615  13.225093
21          A60   PRODUCT4   201422     30.0  2014   22  29.134615  13.225093
22          A60   PRODUCT4   201423     45.0  2014   23  29.134615  13.225093
23          A60   PRODUCT4   201424     47.0  2014   24  29.134615  13.225093
24          A60   PRODUCT4   201425     44.0  2014   25  29.134615  13.225093
25          A60   PRODUCT4   201450     20.0  2014   50  29.134615  13.225093
26          A60   PRODUCT4   201447     49.0  2014   47  29.134615  13.225093
27          A60   PRODUCT4   201428     40.0  2014   28  29.134615  13.225093
28          A60   PRODUCT4   201429     38.0  2014   29  29.134615  13.225093
29          A60   PRODUCT4   201430     21.0  2014   30  29.134615  13.225093
...         ...        ...      ...      ...   ...  ...        ...        ...
123834      A28  PRODUCT40   201649      0.0  2016   49   1.903846   3.206975
123835      A28  PRODUCT40   201648      4.0  2016   48   1.903846   3.206975
123836      A28  PRODUCT40   201651      2.0  2016   51   1.903846   3.206975
123837      A28  PRODUCT40   201647      0.0  2016   47   1.903846   3.206975
123838      A28  PRODUCT40   201629      1.0  2016   29   1.903846   3.206975
123839      A28  PRODUCT40   201634      0.0  2016   34   1.903846   3.206975
123840      A28  PRODUCT40   201645      0.0  2016   45   1.903846   3.206975
123841      A28  PRODUCT40   201652      0.0  2016   52   1.903846   3.206975
123842      A28  PRODUCT40   201633      4.0  2016   33   1.903846   3.206975
123843      A28  PRODUCT40   201650      0.0  2016   50   1.903846   3.206975
123844      A28  PRODUCT40   201642      0.0  2016   42   1.903846   3.206975
123845      A28  PRODUCT40   201636      0.0  2016   36   1.903846   3.206975
123846      A28  PRODUCT40   201608      4.0  2016   08   1.903846   3.206975
123847      A28  PRODUCT40   201616      0.0  2016   16   1.903846   3.206975
123848      A28  PRODUCT40   201637      4.0  2016   37   1.903846   3.206975
123849      A28  PRODUCT40   201615      1.0  2016   15   1.903846   3.206975
123850      A28  PRODUCT40   201639      6.0  2016   39   1.903846   3.206975
123851      A28  PRODUCT40   201611      6.0  2016   11   1.903846   3.206975
123852      A28  PRODUCT40   201641      2.0  2016   41   1.903846   3.206975
123853      A28  PRODUCT40   201635      2.0  2016   35   1.903846   3.206975
123854      A28  PRODUCT40   201638      1.0  2016   38   1.903846   3.206975
123855      A28  PRODUCT40   201643      2.0  2016   43   1.903846   3.206975
123856      A28  PRODUCT40   201620      0.0  2016   20   1.903846   3.206975
123857      A28  PRODUCT40   201640      1.0  2016   40   1.903846   3.206975
123858      A28  PRODUCT40   201609     20.0  2016   09   1.903846   3.206975
123859      A28  PRODUCT40   201612      0.0  2016   12   1.903846   3.206975
123860      A28  PRODUCT40   201632      0.0  2016   32   1.903846   3.206975
123861      A28  PRODUCT40   201631      1.0  2016   31   1.903846   3.206975
123862      A28  PRODUCT40   201628      4.0  2016   28   1.903846   3.206975
123863      A28  PRODUCT40   201627      0.0  2016   27   1.903846   3.206975

[123864 rows x 8 columns]

In [228]:
sortkey4 = ["REGIONID","PRODUCT","YEARWEEK"]
mergedData = mergedData.sort_values(sortkey4, inplace = False)
mergedData

,REGIONID,PRODUCT,YEARWEEK,QTY_NEW,YEAR,WEEK,QTY_MEAN,QTY_STD
10661,A00,PRODUCT34,201401,661.0,2014,01,275.961538,162.179634
10662,A00,PRODUCT34,201402,679.0,2014,02,275.961538,162.179634
10663,A00,PRODUCT34,201403,578.0,2014,03,275.961538,162.179634
10660,A00,PRODUCT34,201404,532.0,2014,04,275.961538,162.179634
10665,A00,PRODUCT34,201405,516.0,2014,05,275.961538,162.179634
10664,A00,PRODUCT34,201406,423.0,2014,06,275.961538,162.179634
10667,A00,PRODUCT34,201407,407.0,2014,07,275.961538,162.179634
10668,A00,PRODUCT34,201408,364.0,2014,08,275.961538,162.179634
10666,A00,PRODUCT34,201409,470.0,2014,09,275.961538,162.179634
10669,A00,PRODUCT34,201410,538.0,2014,10,275.961538,162.179634
10671,A00,PRODUCT34,201411,369.0,2014,11,275.961538,162.179634
10670,A00,PRODUCT34,201412,352.0,2014,12,275.961538,162.179634
10672,A00,PRODUCT34,201413,354.0,2014,13,275.961538,162.179634
10673,A00,PRODUCT34,201414,312.0,2014,14,275.961538,162.179634
10674,A00,PRODUCT34,201415,295.0,2014,15,275.961538,162.179634
10675,A00,PRODUCT34,201416,284.0,2014,16,275.961538,162.179634
10676,A00,PRODUCT34,201417,237.0,2014,17,275.961538,162.179634
10677,A00,PRODUCT34,201418,180.0,2014,18,275.961538,162.179634
10679,A00,PRODUCT34,201419,161.0,2014,19,275.961538,162.179634
10678,A00,PRODUCT34,201420,140.0,2014,20,275.961538,162.179634
10681,A00,PRODUCT34,201421,116.0,2014,21,275.961538,162.179634
10680,A00,PRODUCT34,201422,98.0,2014,22,275.961538,162.179634
10682,A00,PRODUCT34,201423,83.0,2014,23,275.961538,162.179634
10683,A00,PRODUCT34,201424,71.0,2014,24,275.961538,162.179634
10701,A00,PRODUCT34,201425,65.0,2014,25,275.961538,162.179634
10687,A00,PRODUCT34,201426,60.0,2014,26,275.961538,162.179634
10700,A00,PRODUCT34,201427,82.0,2014,27,275.961538,162.179634
10690,A00,PRODUCT34,201428,151.0,2014,28,275.961538,162.179634
10691,A00,PRODUCT34,201429,274.0,2014,29,275.961538,162.179634
10699,A00,PRODUCT34,201430,532.0,2014,30,275.961538,162.179634
...,...,...,...,...,...,...,...,...
96883,A77,PRODUCT12,201623,5348.0,2016,23,4837.153846,1841.810824
96879,A77,PRODUCT12,201624,3275.0,2016,24,4837.153846,1841.810824
96876,A77,PRODUCT12,201625,4158.0,2016,25,4837.153846,1841.810824
96900,A77,PRODUCT12,201626,4815.0,2016,26,4837.153846,1841.810824
96927,A77,PRODUCT12,201627,3002.0,2016,27,4837.153846,1841.810824
96906,A77,PRODUCT12,201628,3319.0,2016,28,4837.153846,1841.810824
96888,A77,PRODUCT12,201629,4200.0,2016,29,4837.153846,1841.810824
96924,A77,PRODUCT12,201630,7120.0,2016,30,4837.153846,1841.810824
96892,A77,PRODUCT12,201631,6345.0,2016,31,4837.153846,1841.810824
96901,A77,PRODUCT12,201632,5863.0,2016,32,4837.153846,1841.810824
96899,A77,PRODUCT12,201633,4211.0,2016,33,4837.153846,1841.810824
96926,A77,PRODUCT12,201634,4019.0,2016,34,4837.153846,1841.810824
96925,A77,PRODUCT12,201635,3624.0,2016,35,4837.153846,1841.810824
96910,A77,PRODUCT12,201636,3742.0,2016,36,4837.153846,1841.810824
96916,A77,PRODUCT12,201637,3002.0,2016,37,4837.153846,1841.810824
96921,A77,PRODUCT12,201638,5583.0,2016,38,4837.153846,1841.810824
96917,A77,PRODUCT12,201639,14734.0,2016,39,4837.153846,1841.810824
96922,A77,PRODUCT12,201640,3603.0,2016,40,4837.153846,1841.810824
96920,A77,PRODUCT12,201641,4010.0,2016,41,4837.153846,1841.810824
96923,A77,PRODUCT12,201642,4292.0,2016,42,4837.153846,1841.810824
96891,A77,PRODUCT12,201643,5760.0,2016,43,4837.153846,1841.810824
96909,A77,PRODUCT12,201644,4109.0,2016,44,4837.153846,1841.810824
96895,A77,PRODUCT12,201645,4506.0,2016,45,4837.153846,1841.810824
96896,A77,PRODUCT12,201646,4255.0,2016,46,4837.153846,1841.810824
96905,A77,PRODUCT12,201647,3574.0,2016,47,4837.153846,1841.810824
96903,A77,PRODUCT12,201648,4152.0,2016,48,4837.153846,1841.810824
96893,A77,PRODUCT12,201649,5086.0,2016,49,4837.153846,1841.810824
96904,A77,PRODUCT12,201650,5846.0,2016,50,4837.153846,1841.810824
96898,A77,PRODUCT12,201651,4933.0,2016,51,4837.153846,1841.810824
96890,A77,PRODUCT12,201652,7551.0,2016,52,4837.153846,1841.810824

In [229]:
mergedData.reset_index(drop=True)

,REGIONID,PRODUCT,YEARWEEK,QTY_NEW,YEAR,WEEK,QTY_MEAN,QTY_STD
0,A00,PRODUCT34,201401,661.0,2014,01,275.961538,162.179634
1,A00,PRODUCT34,201402,679.0,2014,02,275.961538,162.179634
2,A00,PRODUCT34,201403,578.0,2014,03,275.961538,162.179634
3,A00,PRODUCT34,201404,532.0,2014,04,275.961538,162.179634
4,A00,PRODUCT34,201405,516.0,2014,05,275.961538,162.179634
5,A00,PRODUCT34,201406,423.0,2014,06,275.961538,162.179634
6,A00,PRODUCT34,201407,407.0,2014,07,275.961538,162.179634
7,A00,PRODUCT34,201408,364.0,2014,08,275.961538,162.179634
8,A00,PRODUCT34,201409,470.0,2014,09,275.961538,162.179634
9,A00,PRODUCT34,201410,538.0,2014,10,275.961538,162.179634
10,A00,PRODUCT34,201411,369.0,2014,11,275.961538,162.179634
11,A00,PRODUCT34,201412,352.0,2014,12,275.961538,162.179634
12,A00,PRODUCT34,201413,354.0,2014,13,275.961538,162.179634
13,A00,PRODUCT34,201414,312.0,2014,14,275.961538,162.179634
14,A00,PRODUCT34,201415,295.0,2014,15,275.961538,162.179634
15,A00,PRODUCT34,201416,284.0,2014,16,275.961538,162.179634
16,A00,PRODUCT34,201417,237.0,2014,17,275.961538,162.179634
17,A00,PRODUCT34,201418,180.0,2014,18,275.961538,162.179634
18,A00,PRODUCT34,201419,161.0,2014,19,275.961538,162.179634
19,A00,PRODUCT34,201420,140.0,2014,20,275.961538,162.179634
20,A00,PRODUCT34,201421,116.0,2014,21,275.961538,162.179634
21,A00,PRODUCT34,201422,98.0,2014,22,275.961538,162.179634
22,A00,PRODUCT34,201423,83.0,2014,23,275.961538,162.179634
23,A00,PRODUCT34,201424,71.0,2014,24,275.961538,162.179634
24,A00,PRODUCT34,201425,65.0,2014,25,275.961538,162.179634
25,A00,PRODUCT34,201426,60.0,2014,26,275.961538,162.179634
26,A00,PRODUCT34,201427,82.0,2014,27,275.961538,162.179634
27,A00,PRODUCT34,201428,151.0,2014,28,275.961538,162.179634
28,A00,PRODUCT34,201429,274.0,2014,29,275.961538,162.179634
29,A00,PRODUCT34,201430,532.0,2014,30,275.961538,162.179634
...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,2016,23,4837.153846,1841.810824
123835,A77,PRODUCT12,201624,3275.0,2016,24,4837.153846,1841.810824
123836,A77,PRODUCT12,201625,4158.0,2016,25,4837.153846,1841.810824
123837,A77,PRODUCT12,201626,4815.0,2016,26,4837.153846,1841.810824
123838,A77,PRODUCT12,201627,3002.0,2016,27,4837.153846,1841.810824
123839,A77,PRODUCT12,201628,3319.0,2016,28,4837.153846,1841.810824
123840,A77,PRODUCT12,201629,4200.0,2016,29,4837.153846,1841.810824
123841,A77,PRODUCT12,201630,7120.0,2016,30,4837.153846,1841.810824
123842,A77,PRODUCT12,201631,6345.0,2016,31,4837.153846,1841.810824
123843,A77,PRODUCT12,201632,5863.0,2016,32,4837.153846,1841.810824
123844,A77,PRODUCT12,201633,4211.0,2016,33,4837.153846,1841.810824
123845,A77,PRODUCT12,201634,4019.0,2016,34,4837.153846,1841.810824
123846,A77,PRODUCT12,201635,3624.0,2016,35,4837.153846,1841.810824
123847,A77,PRODUCT12,201636,3742.0,2016,36,4837.153846,1841.810824
123848,A77,PRODUCT12,201637,3002.0,2016,37,4837.153846,1841.810824
123849,A77,PRODUCT12,201638,5583.0,2016,38,4837.153846,1841.810824
123850,A77,PRODUCT12,201639,14734.0,2016,39,4837.153846,1841.810824
123851,A77,PRODUCT12,201640,3603.0,2016,40,4837.153846,1841.810824
123852,A77,PRODUCT12,201641,4010.0,2016,41,4837.153846,1841.810824
123853,A77,PRODUCT12,201642,4292.0,2016,42,4837.153846,1841.810824
123854,A77,PRODUCT12,201643,5760.0,2016,43,4837.153846,1841.810824
123855,A77,PRODUCT12,201644,4109.0,2016,44,4837.153846,1841.810824
123856,A77,PRODUCT12,201645,4506.0,2016,45,4837.153846,1841.810824
123857,A77,PRODUCT12,201646,4255.0,2016,46,4837.153846,1841.810824
123858,A77,PRODUCT12,201647,3574.0,2016,47,4837.153846,1841.810824
123859,A77,PRODUCT12,201648,4152.0,2016,48,4837.153846,1841.810824
123860,A77,PRODUCT12,201649,5086.0,2016,49,4837.153846,1841.810824
123861,A77,PRODUCT12,201650,5846.0,2016,50,4837.153846,1841.810824
123862,A77,PRODUCT12,201651,4933.0,2016,51,4837.153846,1841.810824
123863,A77,PRODUCT12,201652,7551.0,2016,52,4837.153846,1841.810824

In [2]:
import pandas as pd
import numpy as np

In [3]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

In [7]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"]< 0, 0, selloutData["QTY"])

In [10]:
selloutData[selloutData.QTY >= 0].head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

### 53주차 제거

In [13]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

In [29]:
## 연산과 자료형을 활용하여 데이터를 정제하기

In [58]:
def customFunction(inputColumn):
    yearValue = inputColumn / 100
    yearValue = int(yearValue)
    return yearValue

In [ ]:
# 데이터를 정제하는 방법 활용 함수화, 연산, 자료형

In [ ]:
# 방법 1 (자료형 변환)

In [92]:
selloutData["YEAR"] = (selloutData.YEARWEEK/100).astype(int)

In [ ]:
# 방법 2 (함수 활용)

In [83]:
selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunction)

In [96]:
# 방법 3 (연산자 활용)

In [101]:
selloutData["YEAR"] = selloutData["YEARWEEK"]//100

In [102]:
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

In [103]:
refinedData = selloutData[selloutData.WEEK%100 < 53]

In [104]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  WEEK  YEAR
0      A60   PRODUCT4    201402     71.0     71.0     2  2014
1      A60  PRODUCT59    201402  22275.0  22275.0     2  2014
2      A60  PRODUCT34    201402   4463.0   4463.0     2  2014
3      A60  PRODUCT47    201402      0.0      0.0     2  2014
4      A60  PRODUCT56    201402     23.0     23.0     2  2014

In [110]:
sortkey = ['REGIONID', 'PRODUCT', 'YEARWEEK']

In [111]:
sortedData = refinedData.sort_values(sortkey)

In [120]:
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
298       A00  PRODUCT34    201401  661.0    661.0     1  2014
1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
205       A00  PRODUCT34    201404  532.0    532.0     4  2014
4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [121]:
### 기존 인덱스를 제거하고 새로운 인덱스(정렬된)를 적용

In [117]:
step1Data = sortedData.reset_index(drop = True)

In [119]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0      A00  PRODUCT34    201401  661.0    661.0     1  2014
1      A00  PRODUCT34    201402  679.0    679.0     2  2014
2      A00  PRODUCT34    201403  578.0    578.0     3  2014
3      A00  PRODUCT34    201404  532.0    532.0     4  2014
4      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [124]:
### 롤링함수를 적용가기전에는 정렬을 해줘야한다.

In [125]:
### 1. 기본 이동평균 함수

In [130]:
step1Data["MA"] = step1Data.NEW_QTY.rolling(window = 15, center=True, min_periods=1).mean()

In [133]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR          MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014  520.000000
1      A00  PRODUCT34    201402  679.0    679.0     2  2014  514.444444
2      A00  PRODUCT34    201403  578.0    578.0     3  2014  516.800000
3      A00  PRODUCT34    201404  532.0    532.0     4  2014  503.363636
4      A00  PRODUCT34    201405  516.0    516.0     5  2014  490.750000