In [1]:
import numpy as np
import pandas as pd

# 모델 라이브러리 선언
from sklearn import datasets, tree

# 모델 정확도 라이브러리 선언
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
featuresData = pd.read_csv('../dataset/feature_regression_example.csv')

In [3]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155
5,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201506,2015,6,867,N,4,Y,0.208155
6,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201507,2015,7,1187,N,4,Y,0.208155
7,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201508,2015,8,970,Y,1,Y,0.208155
8,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201509,2015,9,542,N,4,Y,0.208155
9,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201510,2015,10,350,N,4,N,0.000000
10,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201511,2015,11,988,N,4,Y,0.208155
11,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201512,2015,12,1314,N,4,Y,0.208155
12,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201513,2015,13,741,N,4,Y,0.208155
13,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201514,2015,14,466,N,4,Y,0.208155
14,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201515,2015,15,301,N,4,N,0.000000
15,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201516,2015,16,375,N,4,N,0.000000
16,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201517,2015,17,456,N,4,N,0.000000
17,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201518,2015,18,526,N,4,N,0.000000
18,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201519,2015,19,641,N,4,N,0.000000
19,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201520,2015,20,862,Y,1,Y,0.209442
20,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201521,2015,21,1335,Y,1,Y,0.209442
21,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201522,2015,22,1801,Y,1,Y,0.209442
22,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201523,2015,23,1325,N,4,Y,0.209442
23,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201524,2015,24,607,N,4,N,0.000000
24,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201525,2015,25,337,Y,1,N,0.000000
25,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201526,2015,26,2505,Y,1,Y,0.280258
26,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201527,2015,27,4035,Y,1,Y,0.280258
27,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201528,2015,28,3535,Y,1,Y,0.280258
28,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201529,2015,29,2671,Y,1,Y,0.280258
29,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201530,2015,30,436,N,4,N,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
77,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201625,2016,25,968,Y,1,Y,0.308584
78,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201626,2016,26,1685,Y,1,Y,0.308584
79,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201627,2016,27,1586,Y,1,Y,0.308584
80,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201628,2016,28,1616,Y,1,Y,0.308584
81,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201629,2016,29,1318,Y,1,Y,0.308584
82,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201630,2016,30,2240,N,4,Y,0.280258
83,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258
84,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258
85,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000
86,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584
87,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584
88,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584
89,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584
90,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584
91,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258
92,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258
93,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258
94,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258
95,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000
96,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888
97,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888
98,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888
99,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361
105,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201710,2017,10,14,N,4,N,0.000000
106,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201714,2017,14,5,N,4,N,0.000000

In [4]:
featuresData2=featuresData[["HOLIDAY","PROMOTION"]]

In [5]:
def refining(df):
    if df['HOLIDAY']=="Y":
        return 1
    elif df['HOLIDAY']=="N":
        return 0

In [6]:
def refining2(df):
    if df['PROMOTION']=="Y":
        return 1
    elif df['PROMOTION']=="N":
        return 0

In [7]:
featuresData2["HOLIDAY"] = featuresData2.apply(refining, axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
featuresData2["PROMOTION"] = featuresData2.apply(refining2, axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
featuresData2.columns = ["HO_YN", "PRO_YN"]

In [10]:
featuresData = pd.merge(featuresData, featuresData2, how='outer', left_index=True, right_index=True)

In [11]:
featuresData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155,0,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155,1,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155,0,1

In [12]:
# featuresData["HO_YN"] = np.where(featuresData["HOLIDAY"] == "Y",1,0)
# featuresData["PRO_YN"] = np.where(featuresData["PROMOTION"] == "Y",1,0)

In [13]:
featuresData.dtypes

REGIONID         object
PRODUCTGROUP     object
PRODUCT          object
ITEM             object
YEARWEEK          int64
YEAR              int64
WEEK              int64
QTY               int64
HOLIDAY          object
HCLUS             int64
PROMOTION        object
PRO_PERCENT     float64
HO_YN             int64
PRO_YN            int64
dtype: object

In [14]:
featuresData = featuresData[(featuresData.YEARWEEK >= 201501) & \
                                (featuresData.YEARWEEK <= 201652)]

In [15]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155,0,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155,1,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155,0,1
5,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201506,2015,6,867,N,4,Y,0.208155,0,1
6,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201507,2015,7,1187,N,4,Y,0.208155,0,1
7,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201508,2015,8,970,Y,1,Y,0.208155,1,1
8,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201509,2015,9,542,N,4,Y,0.208155,0,1
9,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201510,2015,10,350,N,4,N,0.000000,0,0
10,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201511,2015,11,988,N,4,Y,0.208155,0,1
11,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201512,2015,12,1314,N,4,Y,0.208155,0,1
12,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201513,2015,13,741,N,4,Y,0.208155,0,1
13,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201514,2015,14,466,N,4,Y,0.208155,0,1
14,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201515,2015,15,301,N,4,N,0.000000,0,0
15,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201516,2015,16,375,N,4,N,0.000000,0,0
16,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201517,2015,17,456,N,4,N,0.000000,0,0
17,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201518,2015,18,526,N,4,N,0.000000,0,0
18,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201519,2015,19,641,N,4,N,0.000000,0,0
19,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201520,2015,20,862,Y,1,Y,0.209442,1,1
20,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201521,2015,21,1335,Y,1,Y,0.209442,1,1
21,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201522,2015,22,1801,Y,1,Y,0.209442,1,1
22,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201523,2015,23,1325,N,4,Y,0.209442,0,1
23,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201524,2015,24,607,N,4,N,0.000000,0,0
24,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201525,2015,25,337,Y,1,N,0.000000,1,0
25,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201526,2015,26,2505,Y,1,Y,0.280258,1,1
26,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201527,2015,27,4035,Y,1,Y,0.280258,1,1
27,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201528,2015,28,3535,Y,1,Y,0.280258,1,1
28,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201529,2015,29,2671,Y,1,Y,0.280258,1,1
29,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201530,2015,30,436,N,4,N,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201623,2016,23,973,N,4,Y,0.280258,0,1
76,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201624,2016,24,21,N,4,N,0.000000,0,0
77,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201625,2016,25,968,Y,1,Y,0.308584,1,1
78,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201626,2016,26,1685,Y,1,Y,0.308584,1,1
79,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201627,2016,27,1586,Y,1,Y,0.308584,1,1
80,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201628,2016,28,1616,Y,1,Y,0.308584,1,1
81,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201629,2016,29,1318,Y,1,Y,0.308584,1,1
82,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201630,2016,30,2240,N,4,Y,0.280258,0,1
83,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258,0,1
84,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258,0,1
85,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000,0,0
86,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584,1,1
87,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584,1,1
88,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584,1,1
89,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584,0,1
90,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584,0,1
91,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258,0,1
92,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258,0,1
93,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258,1,1
94,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258,0,1
95,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000,0,0
96,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888,1,1
97,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888,1,1
98,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888,1,1
99,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888,1,1
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888,1,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888,0,1
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361,0,1
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361,0,1
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361,1,1

In [16]:
corrDf = featuresData.corr()

In [17]:
corrDf

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HO_YN,PRO_YN
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.898554
HO_YN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,0.365148
PRO_YN,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,1.000000

In [18]:
corrResult = corrDf.reset_index()

In [19]:
featuresStd = 0.5

In [20]:
# abs => 절대값으로 변환

In [21]:
features = corrResult[(corrResult.QTY != 1) & (abs(corrResult.QTY)>featuresStd)]["index"].tolist()

In [22]:
features

['HCLUS', 'PRO_PERCENT', 'HO_YN', 'PRO_YN']

In [23]:
label = ['QTY']
label

['QTY']

In [69]:
yearweekStd = 201630

In [70]:
trainingData_features = featuresData[featuresData.YEARWEEK <= yearweekStd][features]
trainingData_label = featuresData[featuresData.YEARWEEK <= yearweekStd][label]
testData_features = featuresData[featuresData.YEARWEEK > yearweekStd][features]
testData_label = featuresData[featuresData.YEARWEEK > yearweekStd]

In [88]:
type(testData_label)

pandas.core.frame.DataFrame

In [71]:
model_method = tree.DecisionTreeClassifier()

In [72]:
model = model_method.fit(trainingData_features, trainingData_label)

In [73]:
predict = model.predict(testData_features)

In [74]:
predictData = pd.DataFrame(predict)

In [75]:
predictData.columns = ["PREDICT"]

In [76]:
testingData = pd.DataFrame(testData_label)

In [77]:
testingData = testingData.reset_index(drop=True)

In [84]:
# merge 사용

In [78]:
mergedData = pd.merge(testingData, predictData, how='outer', left_index=True, right_index=True)

In [79]:
mergedData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN,PREDICT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258,0,1,973
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258,0,1,973
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000,0,0,16
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584,1,1,968
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584,1,1,968
5,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584,1,1,968
6,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584,0,1,973
7,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584,0,1,973
8,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258,0,1,973
9,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258,0,1,973
10,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258,1,1,1172
11,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258,0,1,973
12,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000,0,0,16
13,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888,1,1,2033
14,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888,1,1,2033
15,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888,1,1,2033
16,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888,1,1,2033
17,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888,1,1,2033
18,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888,0,1,2033
19,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361,0,1,2033
20,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361,0,1,2033
21,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361,1,1,2033

In [85]:
# concat 사용

In [ ]:
mergedData2 = pd.concat([testingData,predictData], axis=1)

In [86]:
mergedData2

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN,PREDICT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258,0,1,973
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258,0,1,973
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000,0,0,16
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584,1,1,968
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584,1,1,968
5,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584,1,1,968
6,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584,0,1,973
7,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584,0,1,973
8,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258,0,1,973
9,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258,0,1,973
10,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258,1,1,1172
11,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258,0,1,973
12,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000,0,0,16
13,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888,1,1,2033
14,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888,1,1,2033
15,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888,1,1,2033
16,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888,1,1,2033
17,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888,1,1,2033
18,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888,0,1,2033
19,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361,0,1,2033
20,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361,0,1,2033
21,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361,1,1,2033

In [100]:
mergedData.to_csv('./finalresult.csv', encoding='ms949', index=False)

In [101]:
finalResult = pd.read_csv('./finalresult.csv')

In [102]:
finalResult

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN,PREDICT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258,0,1,973
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258,0,1,973
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000,0,0,16
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584,1,1,968
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584,1,1,968
5,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584,1,1,968
6,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584,0,1,973
7,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584,0,1,973
8,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258,0,1,973
9,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258,0,1,973
10,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258,1,1,1172
11,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258,0,1,973
12,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000,0,0,16
13,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888,1,1,2033
14,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888,1,1,2033
15,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888,1,1,2033
16,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888,1,1,2033
17,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888,1,1,2033
18,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888,0,1,2033
19,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361,0,1,2033
20,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361,0,1,2033
21,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361,1,1,2033

In [103]:
# MAE

In [104]:
mean_absolute_error(finalResult['QTY'], finalResult['PREDICT'])

617.3636363636364

In [107]:
# RMSE(MSE)

In [105]:
mean_squared_error(finalResult['QTY'], finalResult['PREDICT'])

567875.9090909091

In [108]:
# R2

In [106]:
r2_score(finalResult['QTY'], finalResult['PREDICT'])

-0.2162570590202968